.container {
    width: 100%;
    background-color: rgb(199, 178, 18);
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.row {
    width: 100%;
    flex-direction: row;
    margin-left: 0;
}

.swatch {
    margin-left: 8px;
    margin-right: 8px;
    width: 100%;
    height: 92px;
    margin-top: 8px;
    margin-bottom: 8px;
}
